<div class="parallax">
  <center>
    <h1 class="title roboto font-size30">Enter Summoner Name</h1>

    <br>

    <%= form_tag(stats_path, :method => "get") do %>
      <%= text_field_tag(:summoner_name) %>
      <br>
      <%= submit_tag("Search") %>
    <% end %>
  </center>
</div>

<center><div class="section1">
  <h1 class="pro_h1">Recent Pro Player Games</h1>
  <div class="sexyline"></div>
  <div class="pro_div">
    <h3 class="pro_h3">DoubleLift</h3>
    <%= image_tag('doublelift.jpg', class: 'pro') %>
  </div>
  <div class="pro_div">
    <h3 class="pro_h3">Bjergsen</h3>
    <%= image_tag('bjergsen.jpg', class: 'pro') %>
  </div>
  <div class="pro_div">
    <h3 class="pro_h3">Hauntzer</h3>
    <%= image_tag('hauntzer.jpg', class: 'pro') %>
  </div>
  <div class="pro_div">
    <h3 class="pro_h3">Wild Turtle</h3>
    <%= image_tag('wildturtle.jpg', class: 'pro') %>
  </div>
  <div class="pro_div">
    <h3 class="pro_h3">Svenskeren</h3>
    <%= image_tag('svenskeren.jpg', class: 'pro') %>
  </div>
  <div class="pro_div">
    <h3 class="pro_h3">Biofrost</h3>
    <%= image_tag('biofrost.png', class: 'pro', style: 'background-color: black') %>
  </div>
</div></center>