<!DOCTYPE html>
<html>
  <head>  
    <title>LeagueStats</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noticia+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coda|Special+Elite" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
  </head>

  <body>
    <%= render partial: 'partials/navbar' %>
    <%= yield %>
  </body>
</html>
